* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primario: #f8e1e7;
    --fondo: #4edff8;
    --fondo-2: #c6e974;
    --fondo-sobre: #333;
    --cuerpo-sobre: #ff6b6b;
    --solapa-sobre: #ffacac;
    --sombra: #ffb6b9;
    --texto: rgb(129, 86, 118);
    --corazon: #ff0303;
}

body {
    background: linear-gradient(45deg, var(--fondo), var(--fondo-2));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

/*imagenes decorativas*/

.img-01 {
    position: autos;
    top: 100px;
    left: 190px;

    width: 200px;
    height: 200px;
    border-radius: 25px;

}

.img-02 {
    position: absolute;
    top: 500px;
    left: 190px;

    width: 200px;
    height: 200px;
    border-radius: 25px;
}

.img-03 {
    position: absolute;
    top: 500px;
    left: 1200px;

    width: 200px;
    height: 200px;
    border-radius: 25px;
}

.img-04 {
    position: absolute;
    top: 90px;
    left: 1200px;

    width: 200px;
    height: 200px;
    border-radius: 25px;
}


h1{
    font-family: "Delius", cursive;
    text-align: center;
    font-size: 60px;
    margin-bottom: 50px;
    background: linear-gradient(45deg, #1403ff, #ff03d5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


    .contenedor { 
        width: 400px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }


.envoltura-sobre {
    position: relative;
    background-color: var(--color-sobre);
    box-shadow: 0 0 40px var(--sombra);
    border-radius: 15px;
}

.sobre {
    position: relative;
    width: 400px;
    height: 300px;
}

.sobre::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
    border-top: 180px solid var(--solapa-sobre);
    border-right: 200px solid transparent;
    border-left: 200px solid transparent;
    transform-origin: top;
    transition: all 0.5 ease-in-out 0.7s;
    border-radius: 10px;
}

.solapa-derecha {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    background-color: var(--cuerpo-sobre);
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}

.solapa-izquierda {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--cuerpo-sobre);
    clip-path: polygon(0 0, 0 100%, 100% 100%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}

.carta {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primario);
    box-shadow: 0 0 5px var(--sombra);
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out;
}

.contenido {
    font-family: "Gill Sans", sans-serif;
    color: var(--texto);
    text-align: left;
    font-size: 12px;
    border: 3px dotted var(--texto);
    padding: 10px;
    height: 100%;
    line-height: 14px;
    cursor: pointer;
    overflow-y: scroll;
}

.corazon {
    position: absolute;
    top: 155px;
    left: 200px;
    width: 30px;
    height: 30px;
    background-color: var(--corazon);
    transform: translate(-50%, 0) rotate(-48deg);
    transition: transform 0.5s ease-in-out 1s;
    z-index: 999;
    cursor: pointer;
}

.corazon::before,
.corazon::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: var(--corazon);
    border-radius: 80%;
}

.corazon::before {
    top: -15px;
}

.corazon::after {
    right: -15px;
}

/*agregar clases dinamicos*/

.abierto .sobre::before {
    transform: rotateX(180deg);
    z-index: 0;
    transition-delay: 1s;
}

.abierto .corazon {
    transform: rotate(80deg);
    transition-delay: .1s;
}

.carta.mostrar-carta {
    transform: translateY(-290px);
    transition: transform 0.5s ease-in-out;
}

.carta.cerrando-carta {
    transform: translateY(-290px);
    transition: transform 0.5s ease-in-out;
}

.carta.abierto {
    z-index: 10000;
}

.envoltura-sobre.desactivar-sobre .sobre::before {
    pointer-events: none;
    transition-delay: 0.5s;
}

/*scroll personalizado*/
.contenido::-webkit-scrollbar {
    width: 8px;
}

.contenido::-webkit-scrollbar-track {
    background-color: transparent;
}

.contenido::-webkit-scrollbar-thumb {
    background-color: var(--cuerpo-sobre);
    border-radius: 4px;
}

/*vision movil*/
@media screen and (max-width: 90%) {
    .contenedor {
        width: 300px;
        font-size: 35px;
    }


    .sobre {
        width: 300px;
        height: 250px;
    }

    .corazon {
        width: 90%;
        height: 30px;
        top: 120px;
    }

    .sobre::before {
        border-top: 150px solid var(--solapa-sobre);
        border-right: 150px solid transparent;
        border-left: 150px solid transparent;
    }
}
